<div class="panel">
  <h1>Criar conta</h1>

  <%= render "shared/errors", object: @user %>

  <%= form_with model: @user, url: registration_path do |form| %>
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name, required: true %>

    <%= form.label :email, "Email" %>
    <%= form.email_field :email, required: true %>

    <%= form.label :password, "Senha" %>
    <%= form.password_field :password, required: true %>

    <%= form.label :password_confirmation, "Confirme a senha" %>
    <%= form.password_field :password_confirmation, required: true %>

    <p><%= form.submit "Cadastrar", class: "button" %></p>
  <% end %>
</div>
